@use "../variables.scss" as *;

.notes {
	display: grid;
	gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	width: 80%;
	margin-left: auto;
	margin-right: auto;
}

.message {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	padding: 100px;
	font-family: $buttonFont;
	font-weight: 600;
}

.create {
	border: none;
	padding: 10px;
	border-radius: 6px;
	background-color: $primaryWhite;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;

	&:hover {
		background-color: $primaryNavy;
		color: $primaryWhite;
	}
}
