@use "../variables.scss" as *;

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdownContent {
	display: none;
	position: absolute;
	background-color: $primaryGrey;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	right: 0;
	top: 100%;
	border-radius: 0 0 10px 10px;
	padding: 12px 16px;
}

.dropdownContent button {
	color: $primaryBlue;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	border: none;
	background: none;
	width: 100%;
	text-align: left;
	cursor: pointer;
}

.dropdown:hover .dropdownContent {
	display: block;
}

.headerContainer {
	display: flex;
	top: 0;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	left: 0;
	right: 0;
	padding: 3px;
	background-color: $primaryGrey !important;
}

.headerImage {
	max-height: 10vh;
	max-width: 8vw;
	min-height: 50px;
	min-width: 50px;
	@include standard-shadow;
	border-radius: 10px;
	margin-left: 0.5vw;
	margin-top: 0.5vw;
	margin-bottom: 0.5vw;
}

.headerButtonContainer {
	width: 40%;
	margin-right: 10%;
	display: flex;
	justify-content: space-between;
	align-items: stretch;
}

.headerButton {
	font-family: $buttonFont;
	color: $primaryBlue;
	font-weight: $semiBold;
	font-size: 2rem;
	border: none;
	background: none;
	margin: auto;
	cursor: pointer;
}
