@use "../variables.scss" as *;

.note {
	background-color: $primaryLight;
	border-radius: 10px;
	padding: 16px;
	@include standard-shadow;
}

.editTitle {
}

.editDescription {
}

.buttons {
	margin-top: 10px;
	display: flex;
	justify-content: space-between;
}

.saveButton {
}

.editButton {
	border: none;
	background: none;
	padding: 6px 8px;
	border-radius: 8px;
	color: $primaryNavy;
	@include button-shadow;

	&:hover {
		background-color: $primaryNavy;
		color: $primaryWhite;
	}
}

.deleteButton {
	border: none;
	background: none;
	padding: 4px 8px;
	border-radius: 8px;
	color: $primaryRed;
	@include button-shadow;

	&:hover {
		background-color: $primaryRed;
		color: $primaryWhite;
	}
}

.title {
	font-family: $buttonFont;
	color: $primaryIndigo;
}

.description {
	font-family: $buttonFont;
	color: $primaryNavy;
}

.date {
	font-family: $buttonFont;
	color: $primaryNavy;
	font-size: 11px;
	width: 100%;
	margin-left: auto;
}
